<div class="container">
    <div class="p-4">
        <form [formGroup]="registerShopForm" (ngSubmit)="isRegisterShop?register():modifyShop()">
            <div class="form-group">
                <b for="shop-name">Shop Name</b>
                <input type="text" class="form-control" id="shopName" aria-describedby="shop-name" [placeholder]="isRegisterShop?'Shop Name':shopInfo?.name" formControlName="shopName">
                <div *ngIf="!registerShopForm.controls['shopName'].valid && registerShopForm.controls['shopName'].touched">
                    <div>
                        <small *ngIf="registerShopForm.controls['shopName'].errors.required" style="color: red">Shop Name is required</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <b for="phone-number">Phone Number</b>
                <input type="text" class="form-control" id="phone-number" [placeholder]="isRegisterShop?'Phone Number':shopInfo?.phoneNumber" formControlName="phoneNumber">
                <div *ngIf="!registerShopForm.controls['phoneNumber'].valid && registerShopForm.controls['phoneNumber'].touched">
                    <div>
                        <small *ngIf="registerShopForm.controls['phoneNumber'].errors.required" style="color: red">Phone Number is required</small>
                    </div>
                    <div>
                        <small *ngIf="registerShopForm.controls['phoneNumber'].errors.pattern" style="color: red">Not the correct format 0xxxxxxxxx</small>
                    </div>
                </div>
            </div>
            <div class="form-group image-upload">
                <div class="preview my-2 row justify-content-center" for="file-input">
                    <img [src]="imageFile" style="width:200px; height:200px" class="img-fluid" alt="Responsive image" 
                    onerror="this.src='./assets/img/imageDefault.svg';"/>
                </div>
                <input type="file" class="form-control" id="file-input" (change)="onImageChange($event)">
            </div>
            <div class="row justify-content-center">
                <ng-container *ngIf="isRegisterShop">
                    <button class="btn btn-success" type="submit"
                    [disabled]="!registerShopForm.controls['shopName'].valid || !registerShopForm.controls['phoneNumber'].valid">Register</button>
                </ng-container>
                <ng-container *ngIf="!isRegisterShop">
                    <button class="btn btn-success" type="submit"
                    [disabled]="!registerShopForm.controls['shopName'].valid || !registerShopForm.controls['phoneNumber'].valid">Update</button>
                </ng-container>
            </div>
        </form>
    </div>
</div>